.hll { background-color: #ffffcc }
.c { color: #808080 } /* Comment */
.err { color: #F00000; background-color: #F0A0A0 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #303030 } /* Operator */
.cm { color: #808080 } /* Comment.Multiline */
.cp { color: #507090 } /* Comment.Preproc */
.c1 { color: #808080 } /* Comment.Single */
.cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #003080; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #303090; font-weight: bold } /* Keyword.Type */
.m { color: #6000E0; font-weight: bold } /* Literal.Number */
.s { background-color: #fff0f0 } /* Literal.String */
.na { color: #0000C0 } /* Name.Attribute */
.nb { color: #007020 } /* Name.Builtin */
.nc { color: #B00060; font-weight: bold } /* Name.Class */
.no { color: #003060; font-weight: bold } /* Name.Constant */
.nd { color: #505050; font-weight: bold } /* Name.Decorator */
.ni { color: #800000; font-weight: bold } /* Name.Entity */
.ne { color: #F00000; font-weight: bold } /* Name.Exception */
.nf { color: #0060B0; font-weight: bold } /* Name.Function */
.nl { color: #907000; font-weight: bold } /* Name.Label */
.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.nt { color: #007000 } /* Name.Tag */
.nv { color: #906030 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #6000E0; font-weight: bold } /* Literal.Number.Float */
.mh { color: #005080; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000D0; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #4000E0; font-weight: bold } /* Literal.Number.Oct */
.sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.sc { color: #0040D0 } /* Literal.String.Char */
.sd { color: #D04020 } /* Literal.String.Doc */
.s2 { background-color: #fff0f0 } /* Literal.String.Double */
.se { color: #606060; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.si { background-color: #e0e0e0 } /* Literal.String.Interpol */
.sx { color: #D02000; background-color: #fff0f0 } /* Literal.String.Other */
.sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.s1 { background-color: #fff0f0 } /* Literal.String.Single */
.ss { color: #A06000 } /* Literal.String.Symbol */
.bp { color: #007020 } /* Name.Builtin.Pseudo */
.vc { color: #306090 } /* Name.Variable.Class */
.vg { color: #d07000; font-weight: bold } /* Name.Variable.Global */
.vi { color: #3030B0 } /* Name.Variable.Instance */
.il { color: #0000D0; font-weight: bold } /* Literal.Number.Integer.Long */

body {
    color: #666;
    background: #fff;
    font: 90%/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link, a:visited, a:hover {
    color: #316241;
}

a:active {
    color: #92cc47;
}

textarea { border: 1px solid #ccc; padding: 3px; width: 500px; font-family: "Bitstream Vera Sans Mono", "Andale Mono", "Courier New", monospace; font-size: 11px;}
input[type='text'], input[type='password'], select { 
    border: 1px solid #ccc; padding: 3px; font-family: Helvetica, Verdana, Arial, sans; width: 350px; }
input[type='text'].small { width: 120px; }

#header #nav-main ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 115%;
}

h2 {
    font-size: 1.7em;
    color: #000;
    margin: 40px 10px 0 20px;
}

#content {
    border-top: 1px solid #ccc;
    margin: 0 20px 2em 20px;
}

#content #main {
    width: 65%;
    float: left;
    border-right: 1px solid #ccc;
    padding-bottom: 4em;
}

#content #main table.highlighttable {
    width: 90%;
    overflow: auto;
    padding: 0.5em;
    font-family: "Andale Mono";
}

#content #main table.highlighttable pre {
    font-family: "Bitstream Vera Sans Mono", "Andale Mono", "Courier New", monospace;
}

#content #main table.highlighttable div.highlight {
    overflow: auto;
}

#content #main table.highlighttable div.highlight pre {
    width: 540px;
}

#content #main table.highlighttable td.code {
    vertical-align: top;
    width: 100%;
}

#content #main table.highlighttable td.linenos {
    vertical-align: top;
    padding-right: 1em;
}

#content #main ul, #content #main ol {
    margin: 1em 0 1em 20px;
}

#content #main ul {
    list-style-type: square;
}

#content #main li {
    margin: 0.5em 1em 0.5em 0;
}

#content #main dl {
    margin-top: 1em;
}

#content #main dt {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#content #main dt label {
    font-weight: bold;
}

#content #main dd {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#content #main dd textarea {
    width: 80%;
    height: 200px;
}

#content #main h3 {
    margin: 1em 0;
}

#content #main p {
    margin: 1em 1em 1em 0;
}

#content #main .error {
    color: red;
}

#content #sidebar {
    width: 32%;
    float: left;
}

#content #sidebar p {
    margin: 0.5em 1em;
}

#content #sidebar dl {
    margin: 0.5em 1em;
}

#content #sidebar h1, #content #sidebar h2 {
    font-size: 100%;
    margin: 0.5em 1em;
}

#content #sidebar pre, #content #sidebar blockquote {
    margin: 1em 0 1em 40px;
}

#content #sidebar dl dt, #content #sidebar dl dd {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

#content #sidebar dl dt {
    clear: left;
    font-weight: bold;
}

#content #sidebar h3 {
    clear: left;
    font-size: 110%;
    margin: 0.5em 1em;
    padding-top: 1em;
}

#content #sidebar ul {
    clear: left;
    margin: 0.5em 1em;
    list-style-type: none;
}

#content #sidebar ol {
    clear: left;
    margin-left: 4em;
}

#content #sidebar li {
    margin-bottom: 0.5em;
}

#footer {
    clear: left;
    color: #fff;
    margin-top: 2em;
    width: 100%;
    overflow: auto;
}

#footer div.chunk {
    margin-top: 1em;
    margin-left: 20px;
    width: 15%;
    float: left;
    margin-bottom: 2em;
}

#footer div.chunk h3 {
    font-size: 110%;
}

#footer div.chunk ul {
    list-style-type: none;
}
