{% extends "base.html" %}
{% load cache %}
{% load safe_markup %}

{% block title %}{{ object.title }}{% endblock %}

{% block content_header %}{{ object.title }}{% endblock %}

{% block content %}
  {{ object.highlighted_code|safe }}
{% endblock %}

{% block sidebar %}
  <dl>
    {{ object.description_html|safe }}
    <dt>Author:</dt>
    <dd><a href="/users/{{ object.user.username }}/">{{ object.user.username }}</a></dd>
    <dt>Posted:</dt>
    <dd>{{ object.pub_date|date:"F j, Y" }}</dd>
    <dt>Python Version:</dt>
    <dd>{{ object.get_version }}</dd>
    <dt>Tags:</dt>
    <dd>{% for tag in object.tags.all %}<a href="{% url mysite_snippet_matches_tag tag.slug %}">{{ tag.name }}</a> {% endfor %}</dd>
  </dl>
  
  <h3>Other Options</h3>
  <ul>
    {% if user.is_authenticated %}
      {% ifequal user.id object.user.id %}
        <li><a href="/{{ object.id }}/edit/">Edit Snippet</a></li>
      {% endifequal %}
    {% endif %}
  </ul>

{% endblock %}


