<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Mindcloud snippets: {% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
</head>
<script type="text/javascript" language="javascript">
    $(function() {
      $("input#id_q").autocomplete({
        minLength: 3,
        source: function(request, response) {
          var term = request.term;
                $.getJSON("/search/autocomplete/", {'q': term}, function(data) {
                  var results = [];
                  $.each(data, function(k, v) {results.push(v.title);});
                        response(results);
                });
        }
      });
    });
  </script>
<body class="{% block bodyclass %}snippets{% endblock %}">
  <div id="header">
  <div id="logo">
    <h1><a href="/">Mindcloud Python snippets</a></h1>
    <h2>with API</h2>
  </div>
  </div>

<div id="menu-wrap">
<div id="menu">
	<ul>
		<li class="first"><a href="/" title="">Homepage</a></li>
		<li><a href="/tags/" title="">By Tag</a></li>
		<li><a href="/users/" title="">By User</a></li>
                {% if user.is_authenticated %}
                  <li><a href="/add/" title="">Add Snippet</a></li>
                  <li><a href="/users/{{ user.username }}/">Your snippets</a></li>
                  <li><a href="/accounts/logout/" title="">Logout</a></li>
                {% else %}
                  <li><a href="/accounts/login/?next=">Log in</a></li>
                {% endif %}
	</ul>
</div>
</div>
<hr />

  <h2>{% block content_header %}{% endblock %}</h2>
  <div id="content">
    <div id="main">
      {% block content %}
      {% endblock %}
    </div>
    <div id="sidebar">
      <div style="padding: 15px;">
        <form method="get" action="/search/">
          <table>
            <tr>
              <td><label for="id_q">Search:</label></td>
              <td><input type="text" name="q" id="id_q" style="width: 110px;" value="{{ request.GET.q }}" /></td>
              <td><input type="submit" value="Go" /></td>
            </tr>
          </table>
        </form>
      </div>
      {% block sidebar %}
      {% endblock %}
    </div>
  </div>
  {% block extra_content %}
  {% endblock %}

  <div id="footer">
    <p class="legal">&copy;2011 All Rights Reserved. Designed by <a href="http://www.mindcloud.com/">Mindcloud.com</a>.</p>
  </div>
</body>
</html>
